.App{
    width: 100%;
}
#userdetail_finalcheckout{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#paymentmodemain{
    width: 80%;
    margin: auto;
}
#paymentmodemain .hrline{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 60px;
 }